{% extends 'component/import.html' %}

{% block title %}
    <title>Thanh toán</title>
{% endblock %}

{% block body %}
    <body class="right-sidebar woocommerce-checkout">
    {% block header %}
        {% include 'component/header.html' %}
    {% endblock %}

    <div class="page-header border-bottom">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center py-4">
                <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Thanh toán</h1>
                <nav class="woocommerce-breadcrumb font-size-2">
                    <a href="#" class="h-primary">Trang chủ</a>
                    <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                    <a href="#" class="h-primary">Mua sắm</a>
                    <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>Thanh toán
                </nav>
            </div>
        </div>
    </div>
    <div id="content" class="site-content bg-punch-light space-bottom-3">
        <div class="col-full container">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <article id="post-6" class="post-6 page type-page status-publish hentry">
                        <header class="entry-header space-top-2 space-bottom-1 mb-2">
                            <h4 class="entry-title font-size-7 text-center">Thanh Toán</h4>
                        </header>

                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-info p-4 bg-white border">Bạn có mã giảm giá?
                                    <a class="showcoupon" data-toggle="collapse" href="#collapseExample9" role="button"
                                       aria-expanded="false" aria-controls="collapseExample9">
                                        Nhấn vào đây để nhập code
                                    </a>
                                </div>
                                <form id="collapseExample9" class="collapse checkout_coupon mt-4 p-4 bg-white border"
                                      method="post">
                                    <div class="row d-flex">
                                        <p class="col-md-4 d-inline form-row form-row-first mb-3 mb-md-0">
                                            <input type="text" name="coupon_code1" class="input-text form-control"
                                                   placeholder="Mã giảm giá" id="coupon_code1" value="">
                                        </p>
                                        <p class="col-md-3 d-inline form-row form-row-last">
                                            <input type="submit"
                                                   class="button form-control border-0 height-4 btn btn-dark rounded-0"
                                                   name="apply_coupon" value="Dùng mã">
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                                <form name="checkout" method="post" class="checkout woocommerce-checkout row mt-8"
                                      action="{{ url_for('checkout') }}"
                                      enctype="multipart/form-data" novalidate="novalidate">
                                    <div class="col2-set col-md-6 col-lg-7 col-xl-8 mb-6 mb-md-0" id="customer_details">
                                        <div class="px-4 pt-5 bg-white border">
                                            <div class="woocommerce-billing-fields">
                                                <h3 class="mb-4 font-size-3">Thông tin hóa đơn</h3>
                                                <div class="woocommerce-billing-fields__field-wrapper row">
                                                    <p class="col-lg-6 mb-4d75 form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field"
                                                       id="billing_first_name_field" data-priority="10">
                                                        <label for="billing_first_name" class="form-label">Họ và tên đệm
                                                            <abbr
                                                                    class="required" title="required">*</abbr></label>
                                                        <input type="text" class="input-text form-control"
                                                               name="billing_first_name" id="billing_first_name"
                                                               placeholder="" value="" autocomplete="given-name"
                                                               autofocus="autofocus">
                                                    </p>
                                                    <p class="col-lg-6 mb-4d75 form-row form-row-last validate-required"
                                                       id="billing_last_name_field" data-priority="20">
                                                        <label for="billing_last_name" class="form-label">Tên
                                                            <abbr
                                                                    class="required" title="required">*</abbr></label>
                                                        <input type="text" class="input-text form-control"
                                                               name="billing_last_name" id="billing_last_name"
                                                               placeholder="" value="" autocomplete="family-name">
                                                    </p>
                                                    <p class="col-12 mb-3 form-row form-row-wide address-field validate-required"
                                                       id="billing_address_field" data-priority="50">
                                                        <label for="billing_address" class="form-label">Địa chỉ
                                                            <abbr class="required" title="required">*</abbr></label>
                                                        <input type="text" class="input-text form-control"
                                                               name="billing_address" id="billing_address_1"
                                                               placeholder="Số nhà và tên đường" value=""
                                                               autocomplete="address-line1">
                                                    </p>
                                                    <p class="col-12 mb-4d75 form-row form-row-wide address-field validate-required"
                                                       id="billing_city_field" data-priority="70"
                                                       data-o_class="form-row form-row-wide address-field validate-required">
                                                        <label for="billing_city" class="form-label">Quận / Huyện / Thị xã <abbr
                                                                class="required" title="required">*</abbr></label>
                                                        <input type="text" class="input-text form-control"
                                                               name="billing_city" id="billing_city" placeholder=""
                                                               value=""
                                                               autocomplete="address-level2">
                                                    </p>
                                                    <p class="col-12 mb-4d75 form-row form-row-wide address-field validate-state woocommerce-validated"
                                                       id="billing_state_field" data-priority="80"
                                                       data-o_class="form-row form-row-wide address-field validate-state">
                                                        <label for="billing_state" class="form-label">Tỉnh / Thành phố</label>
                                                        <input type="text" class="input-text form-control" value=""
                                                               placeholder="" name="billing_state" id="billing_state"
                                                               autocomplete="address-level1">
                                                    </p>
                                                    <p class="col-12 mb-4d75 form-row form-row-first validate-required validate-phone"
                                                       id="billing_phone_field" data-priority="100">
                                                        <label for="billing_phone" class="form-label">Điện thoại <abbr
                                                                class="required" title="required">*</abbr></label>
                                                        <input type="tel" class="input-text form-control"
                                                               name="billing_phone" id="billing_phone" placeholder=""
                                                               value="" autocomplete="tel">
                                                    </p>
                                                    <p class="col-12 mb-4d75 form-row form-row-last validate-required validate-email"
                                                       id="billing_email_field" data-priority="110">
                                                        <label for="billing_email" class="form-label">Địa chỉ email
                                                            <abbr
                                                                    class="required" title="required">*</abbr></label>
                                                        <input type="email" class="input-text form-control"
                                                               name="billing_email" id="billing_email" placeholder=""
                                                               value="" autocomplete="email">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="px-4 pt-5 bg-white border border-top-0 mt-n-one">
                                            <div class="woocommerce-additional-fields">
                                                <h3 class="mb-4 font-size-3">Thông tin thêm</h3>
                                                <div class="woocommerce-additional-fields__field-wrapper">
                                                    <p class="col-12 mb-4d75 px-0 form-row notes"
                                                       id="order_comments_field"
                                                       data-priority="">
                                                        <label for="order_comments" class="form-label">Ghi chú khác
                                                            (không bắt buộc)</label>
                                                        <textarea name="order_comments" class="input-text form-control"
                                                                  id="order_comments"
                                                                  placeholder="Ghi chú về đơn hàng của bạn, ví dụ: ghi chú về nhận hàng."
                                                                  rows="8" cols="5"></textarea>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 id="order_review_heading" class="d-none">Đơn hàng của bạn:</h3>
                                    <div id="order_review"
                                         class="col-md-6 col-lg-5 col-xl-4 woocommerce-checkout-review-order">
                                        <div id="checkoutAccordion" class="border border-gray-900 bg-white mb-5">
                                            <div class="p-4d875 border">
                                                <div id="checkoutHeadingOnee" class="checkout-head">
                                                    <a href="#"
                                                       class="text-dark d-flex align-items-center justify-content-between"
                                                       data-toggle="collapse" data-target="#checkoutCollapseOnee"
                                                       aria-expanded="true" aria-controls="checkoutCollapseOnee">
                                                        <h3 class="checkout-title mb-0 font-weight-medium font-size-3">
                                                            Đơn hàng của bạn
                                                        </h3>
                                                        <svg class="mins" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="2px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"/>
                                                        </svg>
                                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="15px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div id="checkoutCollapseOnee"
                                                     class="mt-4 checkout-content collapse show"
                                                     aria-labelledby="checkoutHeadingOnee"
                                                     data-parent="#checkoutAccordion">
                                                    <table class="shop_table woocommerce-checkout-review-order-table">
                                                        <thead class="d-none">
                                                        <tr>
                                                            <th class="product-name">Sản phẩm</th>
                                                            <th class="product-total">Tổng</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if 'cart' in session %}
                                                        {% for b in session['cart'].values() %}
                                                        <tr class="cart_item">
                                                            <td class="product-name">
                                                                {{ b.name }}&nbsp;
                                                                <strong class="product-quantity">× {{ b.quantity }}</strong>
                                                            </td>
                                                            <td class="product-total">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol"></span>
                                                                {{ b.subTotal }} VND
                                                            </span>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="p-4d875 border">
                                                <div id="checkoutHeadingTwo" class="checkout-head">
                                                    <a href="#"
                                                       class="text-dark d-flex align-items-center justify-content-between"
                                                       data-toggle="collapse" data-target="#checkoutCollapseTwo"
                                                       aria-expanded="false" aria-controls="checkoutCollapseTwo">
                                                        <h3 class="checkout-title mb-0 font-weight-medium font-size-3">
                                                            Hình thức vận chuyển</h3>
                                                        <svg class="mins" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="2px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"/>
                                                        </svg>
                                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="15px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div id="checkoutCollapseTwo"
                                                     class="mt-4 checkout-content collapse show"
                                                     aria-labelledby="checkoutHeadingTwo"
                                                     data-parent="#checkoutAccordion">
                                                    <ul id="shipping_method">
                                                        <li>
                                                            <input type="radio" name="shipping_method[0]" data-index="0"
                                                                   id="shipping_method_0_flat_rate1" value="flat_rate:1"
                                                                   class="shipping_method" checked="checked">
                                                            <label for="shipping_method_0_flat_rate1">
                                                                Giao tiêu chuẩn:
                                                                <span class="woocommerce-Price-amount amount">
                                                                    <span class="woocommerce-Price-currencySymbol">
                                                                    </span>
                                                                    15.000 VND
                                                                </span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="shipping_method[0]" data-index="0"
                                                                   id="shipping_method_0_flat_rate2" value="flat_rate:2"
                                                                   class="shipping_method">
                                                            <label for="shipping_method_0_flat_rate2">Giao nhanh:
                                                                <span class="woocommerce-Price-amount amount">
                                                                    <span class="woocommerce-Price-currencySymbol">
                                                                    </span>
                                                                    30.000 VND
                                                                </span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="shipping_method[0]" data-index="0"
                                                                   id="shipping_method_0_flat_rate3" value="flat_rate:2"
                                                                   class="shipping_method">
                                                            <label for="shipping_method_0_flat_rate3">Nhận tại cửa hàng:
                                                                <span class="woocommerce-Price-amount amount">
                                                                    <span class="woocommerce-Price-currencySymbol">
                                                                    </span>
                                                                    Miễn phí
                                                                </span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="p-4d875 border">
                                                <div id="checkoutHeadingThree" class="checkout-head">
                                                    <a href="#"
                                                       class="text-dark d-flex align-items-center justify-content-between"
                                                       data-toggle="collapse" data-target="#checkoutCollapseThree"
                                                       aria-expanded="true" aria-controls="checkoutCollapseThree">
                                                        <h3 class="checkout-title mb-0 font-weight-medium font-size-3">
                                                            Coupon</h3>
                                                        <svg class="mins" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="2px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"/>
                                                        </svg>
                                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="15px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div id="checkoutCollapseThree"
                                                     class="mt-4 checkout-content collapse show"
                                                     aria-labelledby="checkoutHeadingThree"
                                                     data-parent="#checkoutAccordion">
                                                    <div class="coupon">
                                                        <label for="coupon_code">Mã giảm giá:</label>
                                                        <input type="text" name="coupon_code" class="input-text"
                                                               id="coupon_code" value="" placeholder="Coupon code"
                                                               autocomplete="off">
                                                        <input type="submit" class="button" name="apply_coupon"
                                                               value="Dùng mã">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-4d875 border">
                                                <table class="shop_table shop_table_responsive">
                                                    <tbody>
                                                    <tr class="order-total">
                                                        <th>Tổng tiền:</th>
                                                        <td data-title="Total"><strong><span
                                                                class="woocommerce-Price-amount amount"><span
                                                                class="woocommerce-Price-currencySymbol"></span>{{ cart_info.total_amount }}</span></strong>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="p-4d875 border">
                                                <div id="checkoutHeadingThreee" class="checkout-head">
                                                    <a href="#"
                                                       class="text-dark d-flex align-items-center justify-content-between"
                                                       data-toggle="collapse" data-target="#checkoutCollapseThreee"
                                                       aria-expanded="true" aria-controls="checkoutCollapseThreee">
                                                        <h3 class="checkout-title mb-0 font-weight-medium font-size-3">
                                                            Hình thức thanh toán
                                                        </h3>
                                                        <svg class="mins" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="2px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"/>
                                                        </svg>
                                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                                                             height="15px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                  d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div id="checkoutCollapseThreee"
                                                     class="mt-4 checkout-content collapse show"
                                                     aria-labelledby="checkoutHeadingThreee"
                                                     data-parent="#checkoutAccordion">
                                                    <div id="payment" class="woocommerce-checkout-payment">
                                                        <ul class="wc_payment_methods payment_methods methods">
                                                            <li class="wc_payment_method payment_method_bacs">
                                                                <input id="payment_method_bacs" type="radio"
                                                                       class="input-radio" name="payment_method"
                                                                       value="bacs" data-order_button_text="">
                                                                <label for="payment_method_bacs">
                                                                    Thẻ ATM / Thẻ ghi nợ
                                                                </label>
                                                            </li>
                                                            <li class="wc_payment_method payment_method_cheque">
                                                                <input id="payment_method_cheque" type="radio"
                                                                       class="input-radio" name="payment_method"
                                                                       value="cheque" data-order_button_text="">
                                                                <label for="payment_method_cheque">
                                                                    Ví điện tử
                                                                </label>
                                                            </li>
                                                            <li class="wc_payment_method payment_method_cod">
                                                                <input id="payment_method_cod" type="radio"
                                                                       class="input-radio" name="payment_method"
                                                                       value="cod"
                                                                       checked="checked" data-order_button_text="">
                                                                <label for="payment_method_cod">
                                                                    Tiền mặt
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row place-order">
                                            <input type="button"
                                                   onclick="paid()"
                                                   value="Đặt hàng"
                                                   class="button alt btn btn-dark btn-block rounded-0 py-4" />
                                            <input type="hidden" id="_wpnonce" name="_wpnonce" value="926470d564"><input
                                                type="hidden" name="_wp_http_referer"
                                                value="storefront/?wc-ajax=update_order_review">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </article>

                </main>

            </div>

        </div>

    </div>

    {% block footer %}
        {% include 'component/footer.html' %}
    {% endblock %}

    {% block tail_js %}
        {{ super() }}
    {% endblock %}
    </body>
{% endblock %}