{% extends 'admin/master.html' %}

{% if current_user.is_authenticated and current_user.user_role == ADMIN %}
    {% block body %}
        <div class="row">
            <h1>Xin chào {{ current_user.username }}!</h1>
            <p class="lead">
{#                Customize the layout#}
            </p>
            <p>
                Nếu chưa đăng nhập, hãy đăng nhập để vào trang quản lý
            </p>
            <a class="btn btn-primary" href="{{ url_for('login_usr') }}"><i class="glyphicon glyphicon-chevron-left"></i> Đăng nhập</a>
        </div>
    {% endblock %}
{% endif %}